<app-card
[repoName]="receivedResult.repoName"
[repoOwner]="receivedResult.repoOwner"
[repoUrl]="receivedResult.repoUrl"
[repoDescription]="receivedResult.repoDescription"
[repoSize]="receivedResult.repoSize"
[repoLanguage]="receivedResult.repoLanguage"
[repoLicense]="receivedResult.repoLicense"
[repoAllowForking]="receivedResult.repoAllowForking"
[repoVisibility]="receivedResult.repoVisibility"
[repoForks]="receivedResult.repoForks"
[name]="receivedResult.userName"
[avatar]="receivedResult.avatarUrl"
[profile]="receivedResult.profileUrl"
></app-card>

<!-- <app-user-card
[name]="receivedUserResult.userName"
[avatar]="receivedUserResult.avatarUrl"
[profile]="receivedUserResult.profileUrl"
>
</app-user-card> -->