<mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="search user">
      <form #form="ngForm" (ngSubmit)="getTheUser (form)">
          <mat-form-field appearance="outline">
            <mat-label>Enter username</mat-label>
            <input matInput placeholder="Placeholder" name="username" required="true" class="text-light" ngModel>
            <mat-hint>You can omit the @</mat-hint>
          </mat-form-field>

          <button mat-raised-button type="submit" color="primary">search</button>
      </form>
  </mat-tab>

  <mat-tab label="search repository">
      <form #repoForm="ngForm" (ngSubmit)="getRepo(repoForm)">
        <mat-form-field appearance="outline">
          <mat-label>Enter a repo name</mat-label>
          <input matInput placeholder="Placeholder" name="repo" required="true" class="text-light" ngModel>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">search</button>
      </form>
  </mat-tab>
</mat-tab-group>

<div class="mt-5">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center align-items-center" *ngFor="let result of resultsFromSearch">
        <app-card-grid [receivedResult]="result"></app-card-grid>
      </div>
    </div>
</div>